<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      As minhas notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">As minhas notas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="todo" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todo">
      <ion-label>Todo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="done">
      <ion-label>Done</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="ion-padding">
    <!-- To Do list -->
    <ion-list id="todo">
      <ion-item button *ngFor="let note of todoNotes" (click)="editNote(note)">
        <ion-label>{{ note.title }}</ion-label>
      </ion-item>
    </ion-list>

    <!-- Done list -->
    <ion-list id="done" style="display: none;">
      <ion-item button *ngFor="let note of doneNotes" (click)="editNote(note)">
        <ion-label>{{ note.title }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addNewNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>